<section id="header">
    <div class="header container">
        <div class="nav-bar">
            <div class="brand">
                <a href="#hero">
                    <h1><span>A</span>SPHALT <span>-</span><span> 9</span></h1>
                </a>
            </div>
            <div class="nav-list">
                <div class="hamburger">
                    <div class="bar"></div>
                </div>
                <ul>
                    <li> <a href="#projects" type="button" class="new" routerLink="New Collections">New Collections</a>
                    </li>
                    <li><a href="#hero" data-after="Home" routerLink="/">home</a></li>
                    <li><a href="#projects" data-after="Projects">Sign-in/Sign-up</a></li>
                    <li><a href="#services" data-after="Service">Services</a></li>
                    <li><a data-after="About" routerLink="/about">about</a></li>
                    <li><a href="#contact" data-after="Contact">Contact</a></li>

                </ul>
            </div>
        </div>
    </div>
</section>