<section id="footer">
    <div class="footer container">
        <div class="brand">
            <h1><span>Abhi</span>shek <span>M</span>ishra</h1>
        </div>
        <h2>Your Complete Super Car Collections</h2>
        <div class="social-icon">
            <div class="social-item">
                <a href="https://www.facebook.com" target="_blank"><img
                        src="https://img.icons8.com/bubbles/100/000000/facebook-new.png" /></a>
            </div>
            <div class="social-item">
                <a href="https://www.instagram.com" target="_blank"><img
                        src="https://img.icons8.com/bubbles/100/000000/instagram-new.png" /></a>
            </div>
            <div class="social-item">
                <a href="https://twitter.com" target="_blank"><img src="../assets/image/twitter.png" /></a>
            </div>
            <div class="social-item">
                <a href="https://in.linkedin.com" target="_blank"><img
                        src="https://img.icons8.com/bubbles/100/000000/linkedin.png" /></a>
            </div>
        </div>
        <p>Copyright © 2023 ABHISHEK. All rights reserved</p>
    </div>
</section>