<section class="services">
    <div class="container">
        <h2>Our Services</h2><br>

    </div>
</section>
<div>
    <h1>
        About us
    </h1>
    <pre style="font-family: 'Courier New', Courier, monospace;">
        Hello and Welcome to st-mary, One of the best-growing educational content providers on the Internet.
        The majority of the students don’t know what to do next after the 10th class, 12th class, graduation, etc.
        Here we are giving our best to provide the best review/guide of every type of course that you can pursue 
        after the completion of your respective education.
        
        We provide the complete guide of all technical and non-technical courses like ITI Courses, Diploma Courses, 
        etc which candidates can pursue after the completion of 10th or equivalent courses. We provide the best guide 
        for every type of career option. We also provide the details of the “Top 10” types of courses, colleges, exams,
         institutes, etc.
        
        We help thousands of students every day by providing them with the best and complete guide to their queries.
        
        Right information not only gives an understanding but we believe it shines the right light on the right path.
         So that you choose the right career options for your future.
            </pre>
    <h3>St-mary is an Educational blog or portal which can provide you with Information/Guides about</h3>
    <h1>MISSION</h1>
    <p>
        Our main goal is to serve the best quality and accurate information to our users. At St-mary we take
        maximum time on research so that the Articles/Blogs that were delivered were Perfect. We made our article
        simple and easy to understand.
    <pre>
            “Education is not the learning of facts, but the training of the mind to think.”

                     Albert Einstein
        </pre>

</div>
<h1>Thank You for using our services</h1>